[submodule "data/poky"]
	path = data/poky
	url = git://git.yoctoproject.org/poky.git
[submodule "data/meta-openembedded"]
	path = data/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "data/meta-st-stm32mp"]
	path = data/meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp.git
	branch = kirkstone
